<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MyMuscules </title>
    <meta name="description" content="MyMuscules">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/assetclient/assets/img/logo/logo.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/assetclient/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assetclient/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assetclient/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/assetclient/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/assetclient/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assetclient/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assetclient/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/assetclient/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/assetclient/assets/css/slick.css">
    <link rel="stylesheet" href="~/assetclient/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/assetclient/assets/css/style.css">
    <link rel="stylesheet" href="~/assetclient/assets/css/bootstrap.min.css">


    <!-- JS here -->
    <!-- All JS Custom Plugins Link Here here -->
    <script src="~/assetclient/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="~/assetclient/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/assetclient/assets/js/popper.min.js"></script>
    <script src="~/assetclient/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="~/assetclient/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/assetclient/assets/js/owl.carousel.min.js"></script>
    <script src="~/assetclient/assets/js/slick.min.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="~/assetclient/assets/js/wow.min.js"></script>
    <script src="~/assetclient/assets/js/animated.headline.js"></script>
    <script src="~/assetclient/assets/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    @*<script src="~/assetclient/assets/js/jquery.scrollUp.min.js"></script>*@
    <script src="~/assetclient/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/assetclient/assets/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="~/assetclient/assets/js/contact.js"></script>
    <script src="~/assetclient/assets/js/jquery.form.js"></script>
    <script src="~/assetclient/assets/js/jquery.validate.min.js"></script>
    <script src="~/assetclient/assets/js/mail-script.js"></script>
    <script src="~/assetclient/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/assetclient/assets/js/plugins.js"></script>
    <script src="~/assetclient/assets/js/main.js"></script>

</head>

<body>

    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="~/assetclient/assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header ">
                <div class="header-top top-bg d-none d-lg-block">
                    <div class="container-fluid">
                        <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left d-flex">
                                    <div class="flag">
                                        <img src="~/assetclient/assets/img/icon/header_icon.png" alt="">
                                    </div>
                                    <div class="select-this">
                                        <form action="#">
                                            <div class="select-itms">
                                                <select name="select" id="select1">
                                                    <option value="">USA</option>
                                                    <option value="">SPN</option>
                                                    <option value="">CDA</option>
                                                    <option value="">USD</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                    <ul class="contact-now">
                                        <li>+777 2345 7886</li>
                                    </ul>
                                </div>
                                <div class="header-info-right">
                                    <ul>
                                        <li><a href="login.html">My Account </a></li>
                                        <li><a href="ClientProduct">Wish List  </a></li>
                                        <li><a href="cart.html">Shopping</a></li>
                                        <li><a href="cart.html">Cart</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                                <div class="logo">
                                    <a href="index.html"><img src="~/assetclient/assets/img/logo/logo.png" alt="" style="width: 150px"></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="/Home/Index" style="font-size: 25px;">Home</a></li>
                                            <li class="hot">
                                                <a href="/ClientProduct/Index" style="font-size: 25px">Product</a>
                                                <ul class="submenu" style="width:220px!important" id="submenu">
                                                   
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#" style="font-size: 25px;">Health</a>
                                                <ul class="submenu"  style="width:220px!important">
                                                    <li><a href="/ClientHealth/Index" style="font-size: 20px"> Tdee Calculator</a></li>
                                                    <li><a href="single-product.html" style="font-size: 20px"> Macro Calculator</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="/ClientArticle/Index" style="font-size: 25px;">Blog</a>
                                            </li>
                                            <li><a href="contact.html" style="font-size: 25px;">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                                <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                    <li class="d-none d-xl-block">
                                        <div class="form-box f-right ">
                                            <input type="text" name="Search" placeholder="Search products">
                                            <div class="search-icon">
                                                <i class="fas fa-search special-tag"></i>
                                            </div>
                                        </div>
                                    </li>
                                    <li class=" d-none d-xl-block">
                                        <div class="favorit-items">
                                            <i class="far fa-heart" style="font-size: x-large";></i>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="shopping-card">
                                            <a href="cart.html"><i class="fa fa-shopping-cart" style="font-size: x-large;"></i></a>
                                        </div>
                                    </li>
                                    <li class="d-none d-lg-block"> <a href="/ClientLogin/Index" class="btn header-btn">Sign in</a></li>
                                </ul>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>

    @RenderBody();
    <footer>

        <!-- Footer Start-->
        <div class="footer-area footer-padding" style="padding-top:10px; background-color:#E6E6E6">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="index.html"><img src="~/assetclient/assets/img/logo/logo2_footer.png" alt="" style="width: 150px"></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Quick Links</h4>
                                <ul>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#"> Offers & Discounts</a></li>
                                    <li><a href="#"> Get Coupon</a></li>
                                    <li><a href="#">  Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Support</h4>
                                <ul>
                                    <li><a href="#">Frequently Asked Questions</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Report a Payment Issue</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer bottom -->
                <div class="row">
                    <div class="col-xl-7 col-lg-7 col-md-7">
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5">
                        <div class="footer-copy-right f-right">
                            <!-- social -->
                            <div class="footer-social">
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->

    </footer>

    @*<script>
        var submenu = $('#submenu')
        function LoadCategory() {
            submenu = html('');
            $.ajax({
                url: "/ClientCategory/Gets",
                type: "Get",
                success: function (res) {
                    res = JSON.parse(res);
                    if (res) {
                        res.forEach(e => {
                            var CategoryName = e.CategoryName;

                            $('#submenu').append("<li><a style='font-size:20px' href='#" + e.CategoryID +"'>" + CategoryName +"</a></li>")
                        })
                    }
                }

            })
        }
        LoadCategory();

        
    </script>*@

</body>
</html>