
@{
    ViewBag.Title = "Index";
}



@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div>
    <h2>Article Manager</h2>
    <div class="col-md-12">
        <div>
            <button class="btn btn-info" id="add" style="width:100px; height:50px;float:right">
                <i class="fa fa-plus-square-o">
                    ADD
                </i>
            </button>
        </div>
    </div>
    <div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Title</th>
                <th scope="col">Image</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="dataArticle"></tbody>
    </table>
    </div>
    <div class="modal" id="addedit" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="card" style="width:700px">
                <div class="card-header"><strong></strong><small> Article</small></div>
                <div class="card-body card-block">
                    <div class="form-group">
                        <label for="company" class=" form-control-label">Title</label>
                        <input type="text" id="title" placeholder="Enter your title" class="form-control">
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="file-input" class=" form-control-label">File input</label></div>
                        <div class="col-12 col-md-9">

                            <div id="imgapp"></div>

                            <input type="file" id="fileToUpload" class="form-control" />
                            <br />
                            <button id="upload" class="btn btn-primary">Upload</button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="closeM">Close</button>
                        <button type="button" class="btn btn-primary" id="btnAccept">Save </button>
                    </div>
                    @*<---END data- TABLE--->*@
                </div>
            </div>
        </div>
    </div>

    </div>

    <div class="modal" id="DeleteForm" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                Are you sure?
                <input type="hidden" id="delId" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeDel">Close</button>
                <button type="button" class="btn btn-primary" id="btnDel">Save</button>
            </div>

        </div>
    </div>
    </div>
</div>
<style>
    .openModal {
        display: block !important
    }
</style>
<script>
    var _glbArticle;
    var lsArticle = $('#dataArticle');
    function loadArticle() {
        lsArticle.html('')
        $.ajax({
            url: "/Admin/Article/Gets",
            type: "Get",
            success: function (res) {
                _glbArticle = res;
                if (_glbArticle) {
                    _glbArticle.forEach((e, i) => {
                        lsArticle.append("<tr><th scope ='row'>" + (i + 1) + "</th ><td>" + e.Title + "</td><td>Image</td><td ><a data-id='" + e.ID + "' class='btnEdit' ><i class='fa fa-wrench'></i></a> <a class='btnDel' data-id='" + e.ID +"'><i class='fa fa-times-circle'></i></a></td></td></tr >");
                    })
                }
            }
        })
    }
    loadArticle();

    //---Upload Image---
    CKEDITOR.replace('CkContent');
    $("#upload").click(function () {
        if (window.FormData == undefined) {
            alert("Error: FormData is undefined");
        } else {
            var fileUpload = $('#fileToUpload').get(0);
            var files = fileUpload.files;
            var fileData = new FormData();
            fileData.append(files[0].name, files[0]);
            $('#imgapp').html('');
            $.ajax({
                url: '/File/UploadFile',
                type: 'Post',
                dataType: 'json',
                contentType: false,
                processData: false,
                async: false,
                data: fileData,
                success: function (res) {
                    $('#imgapp').append("<img class='imgUp' src='" + res + "'>");
                }

            });
        }

    });

    //---ADD END EDIT ----
    $(document).on('click', '#add', function () {
        resetForm();
        $("#addedit").addClass('openModal');
    })
    $(document).on('click', '#closeM', function () {
        $("#addedit").removeClass('openModal');
    })


    $(document).on('click', '.btnEdit', function () {
        resetForm();
        var articleId = $(this).attr('data-id');
        var article = _glbArticle.find(e => e.ID == articleId);
        if (article) {
            $('#title').val(article.Title);
            obj.ID = articleId;
        }
        $("#addedit").addClass('openModal');
    })

    var obj = {}
    $('#btnAccept').on('click', function () {
        obj.Title = $('#title').val();
        obj.Content = $('#content').val();
        var lsImg = "";
        for (var i = 0; i < $(".imgUp").length; i++) {
            lsImg += $(".imgUp").eq(i).attr("src") + ",";
        }
        obj.ListImage = lsImg;
        CreateOrUpdate(obj);
    })


   

    function CreateOrUpdate(article) {
        $.ajax({
            url: "/Admin/Article/CreateOrUpdate",
            type: "POST",
            data: {
                model: article
            },
            success: function (res) {
                if (res) {
                    loadArticle();
                    alert('Cập nhật thành công');
                } else {
                    alert('Cập nhật thất bại');
                }
            }, error: function (error) {
                console.log(error);
            }
        })
        $("#addedit").removeClass('openModal')
        resetForm();
    }


    //---delete---
    $(document).on('click', '.btnDel', function () {
        var articleId = $(this).attr('data-id');

        $('#delId').val(articleId);
        $('#DeleteForm').addClass('openModal');
    })
    $(document).on('click', '#closeDel', function () {
        $('#DeleteForm').removeClass('openModal');

    })

    $(document).on('click', '#btnDel', function () {
        var id = $('#delId').val();
        Delete(id);
    })


    function Delete(id) {
        $.ajax({
            url: "/Admin/Article/Delete",
            type: "Post",
            data: {
                id:id
            },
            success: function (res) {
                if (res) {
                    loadArticle();
                    alert("Xoa thanh cong")
                } else {
                    alert("xoa that bai")
                }
            }, error: function (error) {
                console.log(error);
            }
        })
        $("#DeleteForm").removeClass('openModal');
    }
    function resetForm() {
        $('#title').val('');
        $('#imgapp').val('');

    }
</script>




